*{
    box-sizing: border-box;
    margin: 0;
    /* background: #A8DCF0; */
}
body{
    font-size: 16px;
    color: #333;
    width: 100%;
    margin: 0 auto;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #A8DCF0;
}
.container{
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-transform: uppercase;
}
.counter_preview{
    font-size: 8rem;
    font-weight: bold;
    color: #333;
}
button{
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 8px;
}
.decrement{
    background-color: #4caf50;
}
.reset{
    background-color: #f44336;
}
.increment{
    background-color: #2196f3;
}